@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0a0a0a] text-[#f5f5f5] font-body;
  background-color: #0a0a0a;
  transform: none !important;
}

.gallery-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.gallery-item:hover {
  transform: scale(1.02);
  z-index: 10;
}


